<div class="register-component">
    <div class="container">
        <div class="title-box border-bottom d-flex align-items-center mb-3">
            <h2 class="mr-3">會員申請表</h2>
            <button id="mobileSide" type="button" class="btn btn-maintype mb-2 mobiletype">選單</button>
        </div>
        <div class="form-box">
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">手機(帳號)*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="MemberMobile" type="text" class="form-control" placeholder="" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3">密碼*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="Password" type="password" class="form-control" />
                </div>
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">確認密碼*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="ConfirmPassword" type="password" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">姓名*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="MemberName" type="text" class="form-control" placeholder="中英文字" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">暱稱*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="NickName" type="text" class="form-control" placeholder="中英文字" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">性別*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <select id="sex" class="form-control">
                        <option value="0">女性</option>
                        <option value="1">男性</option>
                        <option value="2" selected>暫不告知</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">E-Mail*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="eMail" type="text" class="form-control" placeholder="英數字與@@" />
                </div>
            </div>
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">Line ID：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="LineId" type="text" class="form-control" />
                    </div>
                </div>*@
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">住家/公司電話*：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="Phone" type="text" class="form-control" />
                    </div>
                </div>*@
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">地址*：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="ContactAddress" type="text" class="form-control" placeholder="中英文字與數字" />
                </div>
            </div>
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">生日(西元yyyy/mm/dd)：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="Birthday" type="text" class="form-control" />
                    </div>
                </div>*@
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">身份字號(統一編號)*：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="ID" type="text" class="form-control" />
                    </div>
                </div>*@
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">銀行*：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="Bank" type="text" class="form-control" />
                    </div>
                </div>*@
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">分行*：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="Branch" type="text" class="form-control" />
                    </div>
                </div>*@
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">帳號*：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="AccountNunber" type="text" class="form-control" />
                    </div>
                </div>*@
            @*<div class="form-group row">
                    <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">帳戶名稱*：</label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <input id="AccountName" type="text" class="form-control" />
                    </div>
                </div>*@
            <div class="function-box d-flex justify-content-center pt-1 pb-1">
                <button type="button" class="btn btn-join btn-maintype" id="btnJoinMember">加入一般會員</button>
                <button style="display:none" id="refbutton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" />
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalPhone">Open modal for</button>*@
            </div>
        </div>
    </div>
</div>
