// 主要背景色
$mainBg: #fffdde;
$mainBg2: #ddffd9;
$mainBg3: #abe0ff;
$mainBg4: #ffe4c4;
// 文字顏色
$txtColor1: #fff;
$txtcolor2: #f82828;
$txtColor3: #007bff;
$navColor1: #fff;
$navColor2: #ffc107;
$navColor3: #6cc3d5;
