@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

<div class="qanda-component">
    <div class="container">
        <div class="title-box border-bottom d-flex align-items-center mb-3">
            <h2 class="mr-3">常見問題</h2>
            <button id="mobileSide" type="button" class="btn btn-maintype mb-2 mobiletype">選單</button>
        </div>
        <div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：有人說他是艾寶寶網路暢貨平台的代理商，要我跟我朋友把加入批發會員的費用給他，他會幫我們辦妥所有手續而且不收代辦費</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>艾寶寶網路暢貨平台沒有和任何自稱代理商或代辦的單位合作，您入會的費   用必定是在您知道的情形下親自匯款入艾寶寶網路暢貨平台帳戶，或是親朋好友經您同意而協助匯款到艾寶寶網路暢貨平台的帳戶內</div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：為何我要加入艾寶寶網路暢貨平台？有何好處？</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <ul class="list-group">
                        <li class="list-group-item">1. 您不會想用較高的價格購買相同的商品</li>
                        <li class="list-group-item">2. 全館的商品皆供應圖檔讓您儲存，方便您銷售使用</li>
                        <li class="list-group-item">3. 獎金點數制，購物還有回饋，回饋可視同現金運用及提領</li>
                        <li class="list-group-item">4. 艾寶寶會做好商品的價格把關，盡力做到市場不廝殺，大家有錢賺</li>
                        <li class="list-group-item">5. 艾寶寶主動為您精選商品，適合各銷售類型的版主加入，節省您找貨的龐大時間</li>
                        <li class="list-group-item">6. 加入艾寶寶網路暢貨平台批發會員，還可享受會員發展獎金及會員分紅獎金，建立自己的營銷團隊</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：什麼是艾寶寶網路暢貨平台?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>協助想要賣東西賺錢或想以低價購物的人們，一個低門檻且可以快速進入網路銷售市場的最佳平台。人人都可以同時是買家也是賣家!</div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：加入艾寶寶網路暢貨平台的理由?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <ul class="list-group">
                        <li class="list-group-item">1. 金流代收：艾寶寶網路暢貨平台提供金流系統ATM代收付款及超商代碼繳款，只要消費者產生虛擬帳號後至ATM或超商繳費即完成代收，讓您更安心購物。</li>
                        <li class="list-group-item">2. 商品選購包裝一條龍：艾寶寶網路暢貨平台提供平價精選商品販售，以及出貨所需之包材等物品，讓賣家可一次選購後直接包裝出貨，能以最快速度販售。</li>
                        <li class="list-group-item">3. 購物車結帳超便利：艾寶寶網路暢貨平台提供購物車，可讓消費者於賣場商品一次選購，快速結帳。</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：如何加入艾寶寶網路暢貨平台?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>先點選[加入會員]或[註冊]，填好資料後按[加入一般會員]，左下角[已閱讀]打勾，接著按[我同意]，再來您填資料時留的手機會收到驗證碼，將驗證碼輸入並送出，完成手機認證後即完成艾寶寶網路暢貨平台加入程序，可立即前往艾寶寶網路暢貨平台開始使用。</div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：我沒有在賣東西，也可以加入艾寶寶網路暢貨平台嗎?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        可以的，因為量批價很划算，即使是純買家也能加入購物，
                        跟外面消費一樣的金額能得到更多，或者買同樣多的東西但花
                        費更省；真的買多了再轉賣出去也行。
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：我沒有時間銷售，我只想購物，艾寶寶網路暢貨平台適合我嗎?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        艾寶寶網路暢貨平台適合每一個人，就算您只消費未銷售，您可以擁有市面上最新的小商品資訊並以最優惠的價格買到，只要購買產品，就足以把您的入職金抵銷過去，況且，您還可以拉您的親朋好友進來經營呢~~
                    </div>
                </div>
            </div>

            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：什麼是點數?要如何提領?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        點數是系統回饋給每位批發會員的獎勵金，點數大於50即可提領，提領會扣除50元手續費，預設隔天到帳，如遇例假日則順延至下一個上班日
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：我今天合計下了超過3000元的貨，為何系統仍計算我的運費呢?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        系統只接受單一地址滿3000元免運，建議可一次訂購足夠金額的訂單，也可等待您未來的訂單再一併下訂
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：艾寶寶網路暢貨平台提供何種金流、物流方式?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        艾寶寶網路暢貨平台金流方式目前提供ATM、超商代碼一次付清，賣家可依實際情形選擇金流方式；物流目前提供宅配至會員選擇之送貨地址
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：有一筆未繳的ATM費用，可以改選擇其它付款方式嗎?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        選定ATM付款後須至ATM處繳費至艾寶寶網路暢貨平台的帳號
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：未繳的費用，繳費帳號或代碼的資訊可在哪裡查詢?</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>
                        加入會員後至[會員中心]內的[我的訂單]可查詢相關資訊
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
