@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

<div class="qanda-component">
    <div class="container">
        <div class="title-box border-bottom d-flex align-items-center mb-3">
            <h2 class="mr-3">常見問題</h2>
            <button id="mobileSide" type="button" class="btn btn-maintype mb-2 mobiletype">選單</button>
        </div>
        <div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：為何我要加入艾寶寶網路暢貨平台？有何好處？</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <ul class="list-group">
                        <li class="list-group-item">1. 您不會想用較高的價格購買相同的商品</li>
                        <li class="list-group-item">2. 全館的商品皆供應圖檔讓您儲存，方便您銷售使用</li>
                        <li class="list-group-item">3. 選擇加入經銷會員，可享受組織發展獎金及團隊分紅獎金，建立自己的營銷團隊</li>
                        <li class="list-group-item">4. 艾寶寶會做好商品的價格把關，盡力做到市場不廝殺，大家有錢賺</li>
                        <li class="list-group-item">5. 艾寶寶主動為您精選商品，適合各銷售類型的版主加入，節省您找貨的龐大時間</li>
                        <li class="list-group-item">6. 獎金點數制，購物還有回饋，回饋可視同現金運用及提領</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：可用點數購物嗎？</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>點數購物是可以的，只要您於付款方式選擇點數支付，系統將會自動為您扣除，只是若遇點數小於購買金額時將無法支付，也無法採用部分點數+部份其它方式的模式支付；僅可選擇降低訂單金額，或整筆改採其它方式支付</div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：我甚麼時候可以提領我的點數？要如何提領？</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>點數是系統回饋給每位經銷商的獎勵金，於任何時候皆可申請提領，提領會扣除15元匯費，每次不限金額，只須於提領點數的選項中清楚鍵入正確銀行資訊，即預設統一隔天到帳，如遇例假日則順延至下一個上班日</div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：我今天合計下了超過3000元的貨，為何系統仍是計算我的運費呢？</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>系統只接受單一地址滿3000元免運的機制，所以建議可一次性訂購足夠金額的訂單，也可等待您未來的訂單再一併下訂單</div>
                </div>
            </div>
            <div class="card shadow-sm mb-3">
                <div class="card-header">Q：我沒有時間銷售，我只想購物，艾寶寶網路暢貨平台適合我嗎？</div>
                <div class="card-body d-flex">
                    <span>A：</span>
                    <div>艾寶寶網路暢貨平台適合每一個人，就算您只消費未銷售，您可以擁有市面上最新的小商品資訊並以最優惠的價格買到，只要購買產品，就足以把您的入職金抵銷過去，況且，您還可以拉您的親朋好友進來經營呢~~</div>
                </div>
            </div>
        </div>
    </div>
</div>
