@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

<div class="register-component">
    <div class="container">
        <div class="title-box border-bottom d-flex align-items-center mb-3">
            <h2 class="mr-3">會員申請表</h2>
            <button id="mobileSide" type="button" class="btn btn-maintype mb-2 mobiletype">選單</button>
        </div>
        <div class="form-box">
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">姓名：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">手機號碼：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">住家/公司電話：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">性別：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">生日：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">地址：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">E-Mail：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">Line ID：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">身份字號(統一編號)：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">暱稱：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">銀行：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">分行：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">帳戶名稱：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">帳號：</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <input id="" type="text" class="form-control" />
                </div>
            </div>
            <div class="function-box d-flex justify-content-center pt-1 pb-1">
                <button type="button" class="btn btn-secondary btn-join">加入一般會員</button>
            </div>
        </div>
    </div>
</div>
