@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .ff {
        color: black;
    }
</style>
<footer class="footer-box bg-dark p-3">
    <div class="container-fluid">
        <div class="row justify-content-between">
            @*<div class="col-12 col-sm-12 col-md-12 col-lg-auto col-xl-auto d-flex justify-content-center footer-logo-box">
                    <img src="~/images/logo-footer.png" alt="" class="footer-logo" />
                </div>*@
            <div class="col-12 col-sm-12 col-md-12 col-lg-auto col-xl-4 pl-4 pr-4 d-flex flex-column justify-content-center footer-link-box">
                <div class="qr-box">
                    <div class="qr-code fb">
                        @*20181228 ---棋 _blank*@
                        <a href="https://www.facebook.com/288ibobo/" target="_blank">
                            <img src="~/images/facebook.png" alt="" class="mb-2" />
                            <div class="text-center ff">臉書搜尋 :</div>
                            <div class="text-center ff">@@288ibobo</div>
                        </a>
                    </div>
                    <div class="ml-4 qr-code line">
                        @*20181228 ---棋 _blank*@
                        <a href="http://line.me/ti/p/%40iid2123b#~" target="_blank">
                            <img src="~/images/line.png" alt="" class="mb-2" />
                            <div class="text-center ff">官方LINE :</div>
                            <div class="text-center ff">@@288ibobo</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pl-4 pr-4 footer-link-box">
                <div class="pt-2 pb-2 mb-2 title ff">會員服務</div>
                <nav class="nav flex-column">
                    <a class="nav-link text-center " href="#" data-no="5"><span class="ff" />升級經銷會員</a>
                    <a class="nav-link text-center " href="#" data-no="7"><span class="ff" />手機版升級經銷會員</a>
                    <a class="nav-link text-center" href="#" data-no="1"><span class="ff">品牌故事</span></a>
                    <a class="nav-link text-center" style="display:none" href="#" data-no="2"><span class="ff" />會員中心</a>
                    <a class="nav-link text-center" href="#" data-no="3"><span class="ff" />會員等級</a>
                    <a class="nav-link text-center" href="#" data-no="4"><span class="ff" />Q&amp;A</a>
                </nav>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pl-4 pr-4 footer-link-box">
                <div class="pt-2 pb-2 mb-2 title ff">購物專區</div>
                <nav class="nav flex-column">

                    <a class="nav-link text-center ff" style="display:none" href="#" data-no="6"><span class="ff" />購物車</a>
                    @*<a class="nav-link text-center " href="#" data-no="7"><span class="ff" />賣場須知</a>*@
                    <a class="nav-link text-center " href="#" data-no="8"><span class="ff" />購物操作指南</a>
                    <a class="nav-link text-center " href="#" data-no="9"><span class="ff" />手機版操作指南</a>
                </nav>
            </div>
            <div class=" text-center col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pl-4 pr-4 footer-link-box contact">
                <div class=" ff pt-2 pb-2 pl-3 mb-2 title">聯絡我們</div>
                <div class=" ff pl-3 pr-3">營業時間｜週一~週五</div>
                <div class=" ff pl-3 pr-3 time">09:00~18:00</div>
                <div class=" ff pl-3 pr-3 holiday">國定假日/週末休</div>
                <div class=" ff pl-3 pr-3">電話｜04-24260263</div>
                <div class=" ff pl-3 pr-3">公司｜台中市北屯區中平路1151號5樓</div>
                <div class=" ff pl-3 pr-3">倉儲｜台中市北屯區經貿五路66號6樓</div>
            </div>
        </div>
    </div>
</footer>

@*20181226  ---棋  品牌故事*@
<div id="BrandStory" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div class="">
            <h2 class=" ff border-bottom mb-3 pb-2">品牌故事</h2>
            <div class="row">
                <div class=" col-md-4">
                    <img src="~/images/公司沿革-01.jpg" class="img-fluid" />
                </div>
                <div class=" col-md-4">
                    <img src="~/images/公司沿革-02.jpg" class="img-fluid" />
                </div>
                <div class=" col-md-4">

                    <img src="~/images/首頁下方的品牌故事-3.jpg" class="img-fluid" />
                </div>
                @*<img src="~/images/品牌故事.png" class="img-fluid" />*@
                @*<div class="row justify-content-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-3">網購，是現今最普遍的消費方式，艾寶寶的故事就從網購一支雷拖把開始，從我們買到雷開始，艾寶寶有了新的想法，與其上網買到一堆瑕疵品，不如我們自己就當起貨物供應來源，替大家把關，因為有購物慘痛的經驗，嘗試一段時間之後，我們不再是一件件少量單品的購買，而是真正從源頭檢視每一件商品，直接大量的購入優質的商品，來供應給想要批發的客人，既然源頭嚴格把關了，我們的客人就不怕買到瑕疵品，可以盡情放心的批發購物。</div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@*shou ji ban sheng ji hui yuan *@
<div id="shoujishengji" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div class="container">
            <h2 class=" ff border-bottom mb-3 pb-2">升級經銷會員</h2>
            <div>
                <img src="~/images/手機版升級經銷會員.png" class="img-fluid  container-fluid" />
            </div>
        </div>
    </div>
</div>
@*20181226  ---棋 購物流程 升級經銷會員*@
<div id="ShoppingProcess" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div class="container">
            <h2 class=" ff border-bottom mb-3 pb-2">升級經銷會員</h2>
            <div>
                <img src="~/images/下排功能列-升級經銷指南.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
@*賣場須知*@
@*<div id="ShoppingKnows" class="footerdetail-box p-3">
        <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
        <div class="set-box">
            <div class="container">
                <h2 class=" ff border-bottom mb-3 pb-2">賣場須知</h2>
                <div>
                    <img src="~/images/賣場須知.png" class="img-fluid" />
                    <img src="~/images/shoppingflow.jpg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>*@
@*czo zuo zhi nan*@
<div id="caozuozhinan" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div>
            <h2 class=" ff border-bottom mb-3 pb-2">操作指南</h2>
            <div>
                <img src="~/images/下排功能列的操作指南.png" class="img-fluid container-fluid" />
            </div>
        </div>
    </div>
</div>
@*shou ji ban cao zuo zhi nan *@
<div id="shoujicaozuo" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div>
            <h2 class=" ff border-bottom mb-3 pb-2">手機版操作指南</h2>
            <div>
                <img src="~/images/操作指南手機版(直)-01.png" class="img-fluid  container-fluid" />

            </div>
        </div>
    </div>
</div>

@*20181226  ---棋 會員等級*@
<div id="MemberLevel" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div class="container">
            <h2 class="border-bottom mb-3 pb-2">會員等級</h2>
            <div>
                @*<img src="~/images/memberlevel.jpg" alt="" class="img-fluid">*@
                @*<img src="~/images/品牌故事.png" class="img-fluid" />*@
                <img src="~/images/會員等級1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

@*Q&A*@
<div id="QuestionAnswer" class="footerdetail-box p-3">
    <button type="button" class="btn btn-close btn-maintype btnFooterDetailClose">關閉</button>
    <div class="set-box">
        <div class="container">
            <h2 class="border-bottom mb-3 pb-2">Q&A</h2>
            <div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：有人說他是艾寶寶網路暢貨平台的代理商，要我跟我朋友把加入批發會員的費用給他，他會幫我們辦妥所有手續而且不收代辦費</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>艾寶寶網路暢貨平台沒有和任何自稱代理商或代辦的單位合作，您入會的費   用必定是在您知道的情形下親自匯款入艾寶寶網路暢貨平台帳戶，或是親朋好友經您同意而協助匯款到艾寶寶網路暢貨平台的帳戶內</div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：為何我要加入艾寶寶網路暢貨平台？有何好處？</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <ul class="list-group">
                            <li class="list-group-item">1. 您不會想用較高的價格購買相同的商品</li>
                            <li class="list-group-item">2. 全館的商品皆供應圖檔讓您儲存，方便您銷售使用</li>
                            <li class="list-group-item">3. 獎金點數制，購物還有回饋，回饋可視同現金運用及提領</li>
                            <li class="list-group-item">4. 艾寶寶會做好商品的價格把關，盡力做到市場不廝殺，大家有錢賺</li>
                            <li class="list-group-item">5. 艾寶寶主動為您精選商品，適合各銷售類型的版主加入，節省您找貨的龐大時間</li>
                            <li class="list-group-item">6. 加入艾寶寶網路暢貨平台批發會員，還可享受會員發展獎金及會員分紅獎金，建立自己的營銷團隊</li>
                        </ul>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：什麼是艾寶寶網路暢貨平台?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>協助想要賣東西賺錢或想以低價購物的人們，一個低門檻且可以快速進入網路銷售市場的最佳平台。人人都可以同時是買家也是賣家!</div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：加入艾寶寶網路暢貨平台的理由?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <ul class="list-group">
                            <li class="list-group-item">1. 金流代收：艾寶寶網路暢貨平台提供金流系統ATM代收付款及超商代碼繳款，只要消費者產生虛擬帳號後至ATM或超商繳費即完成代收，讓您更安心購物。</li>
                            <li class="list-group-item">2. 商品選購包裝一條龍：艾寶寶網路暢貨平台提供平價精選商品販售，以及出貨所需之包材等物品，讓賣家可一次選購後直接包裝出貨，能以最快速度販售。</li>
                            <li class="list-group-item">3. 購物車結帳超便利：艾寶寶網路暢貨平台提供購物車，可讓消費者於賣場商品一次選購，快速結帳。</li>
                        </ul>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：如何加入艾寶寶網路暢貨平台?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>先點選[加入會員]或[註冊]，填好資料後按[加入一般會員]，左下角[已閱讀]打勾，接著按[我同意]，再來您填資料時留的手機會收到驗證碼，將驗證碼輸入並送出，完成手機認證後即完成艾寶寶網路暢貨平台加入程序，可立即前往艾寶寶網路暢貨平台開始使用。</div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：我沒有在賣東西，也可以加入艾寶寶網路暢貨平台嗎?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            可以的，因為量批價很划算，即使是純買家也能加入購物，
                            跟外面消費一樣的金額能得到更多，或者買同樣多的東西但花
                            費更省；真的買多了再轉賣出去也行。
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：我沒有時間銷售，我只想購物，艾寶寶網路暢貨平台適合我嗎?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            艾寶寶網路暢貨平台適合每一個人，就算您只消費未銷售，您可以擁有市面上最新的小商品資訊並以最優惠的價格買到，只要購買產品，就足以把您的入職金抵銷過去，況且，您還可以拉您的親朋好友進來經營呢~~
                        </div>
                    </div>
                </div>

                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：什麼是點數?要如何提領?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            點數是系統回饋給每位批發會員的獎勵金，點數大於50即可提領，提領會扣除50元手續費，預設隔天到帳，如遇例假日則順延至下一個上班日
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：我今天合計下了超過3000元的貨，為何系統仍計算我的運費呢?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            系統只接受單一地址滿3000元免運，建議可一次訂購足夠金額的訂單，也可等待您未來的訂單再一併下訂
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：艾寶寶網路暢貨平台提供何種金流、物流方式?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            艾寶寶網路暢貨平台金流方式目前提供ATM、超商代碼一次付清，賣家可依實際情形選擇金流方式；物流目前提供宅配至會員選擇之送貨地址
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：有一筆未繳的ATM費用，可以改選擇其它付款方式嗎?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            選定ATM付款後須至ATM處繳費至艾寶寶網路暢貨平台的帳號
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-header">Q：未繳的費用，繳費帳號或代碼的資訊可在哪裡查詢?</div>
                    <div class="card-body d-flex">
                        <span>A：</span>
                        <div>
                            加入會員後至[會員中心]內的[我的訂單]可查詢相關資訊
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
