@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="footer-box bg-dark">
    <div class="container">
        <div class="row">
            <div class="copyrighy-box col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">&copy; Copyright by YunQi. All rights reserved.</div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div>允奇國際行銷有限公司</div>
                <address class="address-box">TEL：+886-4-24260263</address>
                <address class="address-box">E-Mail：u7006@gmail.com</address>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div> &nbsp;</div>
                <address class="address-box">地址：台中市北屯區經貿五路66號6樓</address>
                <address class="address-box">倉儲：台中市北屯區中平路1151號5樓</address>
            </div>
            <div class="social-box col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pt-3">
                <div class="pl-3 pr-3"><a class="btn btn-fb"></a></div>
                <div class="pl-3 pr-3"><a class="btn btn-line"></a></div>
            </div>
        </div>
    </div>
</footer>
